<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<script type="text/javascript" src="https://s3.eu-west-3.amazonaws.com/techu-sp/lib.js"></script>

<dom-module id="detalle-usuario">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    
    <!-- Importamos la CSS -->
    <link rel="stylesheet" href="https://s3.eu-west-3.amazonaws.com/techu-sp/style.css">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax 
      id="xhr"
      url="http://localhost:3000/cliente"
      handle-as="json"
      loading="{{cargando}}"      
      content-type="application/json"
      on-response="respuesta"
      on-error="error">
    </iron-ajax>
    
    <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/BBVA_128x128.png" width="50px" height="50px"/>
    <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/TechU.png" width="100px" height="50px"/>
        
    <div id=alta hidden$=[[alta]]>
        <h2 style="text-align: center;">Alta de usuario</h2>
    </div>
    <div id=detail hidden$=[[!alta]]>
        <h2 style="text-align: center;">Detalle usuario: [[cliente.nombre]] [[cliente.apellido]]</h2>
    </div>
    <center>
        <div >
            <table class="table-striped table-bordered table-hover">
                <tr>
                    <td><label id="label" for="nif">DNI/NIF: </label></td>
                    <td hidden$=[[!alta]]><input class="Input" type="text" placeholder="NIF" value="{{cliente.nif::input}}" readonly$="[[!editable]]"></td>
                    <td hidden$=[[alta]]><input class="Input" type="text" placeholder="NIF" value="{{NIF::input}}" readonly$="[[!editable]]"></td>
                </tr>
                <tr>
                    <td><label id="label" for="password">Password: </td>
                    <td><input class="Input" type="password" id="password1" placeholder="Password" value="{{passCli1::input}}" readonly$="[[!editable]]"></td>
                </tr>
                <tr>
                    <td><label id="label" for="password2">Repita la Password: </td>
                    <td><input class="Input" type="password" id="password2" placeholder="Password" value="{{passCli2::input}}" readonly$="[[!editable]]"></td>
                </tr>    
                <tr>
                    <td><label id="label" for="nombre">Nombre: </label></td>
                    <td hidden$=[[!alta]]><input class="Input" type="text"  placeholder="Nombre" value="{{cliente.nombre::input}}" readonly$="[[!editable]]"></td>
                    <td hidden$=[[alta]]><input class="Input" type="text"  placeholder="Nombre" value="{{nombre::input}}" readonly$="[[!editable]]"></td>
                </tr>
                <tr>
                    <td><label id="label" for="apellidos">Apellidos: </label></td>
                    <td hidden$=[[!alta]]><input class="Input" type="text"  placeholder="Apellidos" value="{{cliente.apellido::input}}" readonly$="[[!editable]]"></td>
                    <td hidden$=[[alta]]><input class="Input" type="text"  placeholder="Apellidos" value="{{apellido::input}}" readonly$="[[!editable]]"></td>
                </tr>
                <tr>
                    <td><label id="label" for="direccion">Dirección fiscal: </label></td>
                    <td hidden$=[[!alta]]><input class="Input" type="text"  placeholder="Dirección" value="{{cliente.direccion::input}}" readonly$="[[!editable]]"></td>
                    <td hidden$=[[alta]]><input class="Input" type="text"  placeholder="Dirección" value="{{dirCli::input}}" readonly$="[[!editable]]"></td>
                </tr>
                <tr>
                    <td><label id="label" for="codpos">Código Postal: </label></td>
                    <td hidden$=[[!alta]]><input class="Input" type="text"  placeholder="Código Postal" value="{{cliente.cp::input}}" readonly$="[[!editable]]"></td>
                    <td hidden$=[[alta]]><input class="Input" type="text"  placeholder="Código Postal" value="{{codPos::input}}" readonly$="[[!editable]]"></td>
                </tr>
            </table>
        </div>
        <div hidden$=[[!alta]] style="padding: 10px;">
            <p><input type="checkbox" name="Editar" id="check1" on-change="check">Marca para editar</p>            
            <button class="Cancelar" on-click="_salir">Salir</button>
            <button hidden$="[[!editable]]" class="Aceptar" on-click="_modificar" disabled$="[[!editable]]">Modificar</button>
        </div>
        <div hidden$=[[alta]] style="padding: 10px;">            
            <button class="Cancelar" on-click="_salir">Salir</button>
            <button class="Aceptar" on-click="_alta">Alta</button>
        </div>

        <div id="alertBox" hidden$="{{error}}" >
            <div>
                <h4 style="text-align: center;">Aviso</h4>
                <div on-click="_cerrar"
                    style="position: absolute; right:0; top:0; cursor:pointer; background-color:rgb(239, 255, 255);" >
                    <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/Cerrar.png" width="15px" height="15px"/>
                </div>
                <p style="text-align: center;">{{alerta}}</p>
                <center>
                <button class="Cancelar" on-click="_cerrar">
                    Cerrar
                </button>
                </center>
            </div> 
        </div>
    </center>
    <br>
    [[mensaje]]
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleUsuario extends Polymer.Element {
      static get is() { return 'detalle-usuario'; }
      static get properties() {
        return {
            cliente: {
                type: Array,
                notify: true,
                value: ''
            },
            NIF: {
                type: String,
                value: ''
            },
            passCli1: {
                type: String,
                value: ''
            },
            passCli2: {
                type: String,
                value: ''
            },
            nombre: {
                type: String,
                value: ''
            },
            apellido: {
                type: String,
                value: ''
            },
            dirCli: {
                type: String,
                value: ''
            },
            codPos: {
                type: Number,
                value:''
            },
            ventanaConfirm: {
                type: Boolean,
                value: false
            },
            editable: {
                type: Boolean,
                value: false
            },
            cargando: {
                type: Boolean,
            },
            alta: {
                type: Boolean,
                value: false
            },
            alerta: {
                type: String,
                value: ''
            },
            error: {
                type: Boolean,
                value: true
            }
        };
      }

      _salir()
      {
        if (this.alta)
        {
            this.dispatchEvent(new CustomEvent('2pg', {}));
        }
        else{
            this.dispatchEvent(new CustomEvent('2login', {}));
        }
      }
      _alta()
      {
        //el alta debe devolver al login
        var dat = comprobamos(this.NIF, this.passCli1, this.passCli2);
        switch (dat.cod) {
            case 0:
                var objBody = {
                    nif: this.NIF,
                    password: this.passCli1.hashCode(),
                    nombre: this.nombre,
                    apellido: this.apellido,
                    direccion: this.dirCli,
                    cp: this.codPos
                };
                this.$.xhr.method = "POST";
                this.$.xhr.body = objBody;
                this.$.xhr.generateRequest();
                this.alerta="";
                this.passCli1="";
                this.passCli2="";
                this.NIF="";
                this.nombre="";
                this.apellido="";
                this.dirCli="";
                this.codPos="";
                break;
            case -3:
                this.alerta="Debe introducir la misma contraseña dos veces";
                this.error=false;
                break;
            case -2:
                this.alerta="Debe introducir un nif válido";
                this.error=false;
                break;
            case -1:
                this.alerta="El nif es obligatorio";
                this.error=false;
        }
      }
      _cerrar(){
        this.error=true;
      }

      _modificar()
      {
        var dat = comprobamos(this.cliente.nif, this.passCli1, this.passCli2);

        switch (dat.cod) {
            case 0:
                var client = JSON.parse(sessionStorage.getItem("Cliente"));
                var objBody = {
                    id: client.id,
                    nif: this.cliente.nif,
                    password: this.passCli1.hashCode(),
                    nombre: this.cliente.nombre,
                    apellido: this.cliente.apellido,
                    direccion: this.cliente.direccion,
                    cp: this.cliente.cp
                };
                this.$.xhr.method = "PUT";
                this.$.xhr.body = objBody;
                this.$.xhr.generateRequest();
                this.alerta="";
                this.passCli1="";
                this.passCli2="";
                this.cliente=[];
                break;
            case -3:
                this.alerta="Debe introducir la misma contraseña dos veces";
                this.error=false;
                break;
            case -2:
                this.alerta="Debe introducir un nif válido";
                this.error=false;
                break;
            case -1:
                this.alerta="El nif es obligatorio";
                this.error=false;
        }
      }

      check()
      {
        this.editable = this.$.check1.checked;
      }

      respuesta(e,request) {
        if (this.alta)
        {
            if(request.succeeded && request.response.mensaje=="modificación correcta") {
                var cliente = JSON.stringify(e.detail.response.salida);
                //actualizamos la sesión con la info que se ha guardado
                sessionStorage.setItem("Cliente", cliente);
                var clienteGuardado = JSON.parse(sessionStorage.getItem("Cliente"));
                //desmarco el check
                this.$.check1.checked = false;
                this.check();
                //lanzo el evento de logado para cambio a PG y objeto con info y token
                this.dispatchEvent(new CustomEvent('2pg',{}));
            } else {
                this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
            }
        }
        else
        {
            if(request.succeeded && request.response.mensaje=="Alta correcta") {
                var cliente = JSON.stringify(e.detail.response.salida);
                //actualizamos la sesión con la info que se ha guardado
                sessionStorage.setItem("Cliente", cliente);
                var clienteGuardado = JSON.parse(sessionStorage.getItem("Cliente"));
                //lanzo el evento de logado para cambio a login y objeto con info y token
                this.dispatchEvent(new CustomEvent('2login',{}));
              } else {
                this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
              }
        }
      }

      error(e, error)
      {
        this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
      }
    }      

    window.customElements.define(DetalleUsuario.is, DetalleUsuario);
  </script>
</dom-module>