<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">

<link rel="import" href="ventana-confirmacion.html">
<link rel="import" href="ulises-combo.html">

<script type="text/javascript" src="https://s3.eu-west-3.amazonaws.com/techu-sp/lib.js"></script>

<dom-module id="pg-usuario">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- Importamos la CSS -->
    <link rel="stylesheet" href="https://s3.eu-west-3.amazonaws.com/techu-sp/style.css">
    
    <style>
      :host {
        display: block;
      }

    </style>
    
    <div style="z-index:0;">
    <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/BBVA_128x128.png" width="50px" height="50px"/>
    <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/TechU.png" width="100px" height="50px"/>
    <center>
        <h1>Bienvenido [[nomCli]] [[apeCli]]</h1>
    <div style="position: fixed; right:0; top:0;">
        <span style="position: fixed; right:80px; top:0; cursor:pointer;" on-click="confirmar">Salir</span>
        <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/icon_person.png" width="75px" height="75px" on-click="imagen" style="background-color:rgb(239, 255, 255);"/>
    </div>

    <div class="row">
        <div class="col-xl-6"><label id="label" class="Label_general">Tus Cuentas: </label>
            <button class="Aceptar" on-click="obtenerCuentas10">Refrescar</button>
        </div>
        
        <div class="col-xl-6" >
            <button class="Aceptar" style="vertical-align:middle" on-click="anadirCliente3">Crear cuenta nueva</button>
            <input class="Input" type="text" id="datosjson" placeholder="Escribe alias cuenta" value="{{datosjson::input}}">            
        </div>
    
    </div>
    <div class="row" style="padding:1em;"></div>
        <table hidden$="{{noCargadosCuentas10}}" class="table-striped table-bordered table-hover" 
                style="background-color:rgb(232, 181, 162); ">
            <div class="col-xl-12">
                <thead>
                    <th>Cuenta</th>
                    <th>Saldo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nº Movimientos</th>
                    <th>Ver Movimientos</th>
                    <th>¿Nuevo Movimiento?</th>
                </thead>
                <tbody>
                    <template is="dom-repeat" id="menu10" items="{{account}}" as="clients10">
                    <tr>
                        <td>
                            [[clients10.descCuenta]]
                        </td>
                        <td>
                            {{clients10.saldo}}
                        </td>
                        <td>
                            {{clients10.nombre}}
                        </td>
                        <td>
                            {{clients10.apellido}}
                        </td>
                        <td>
                            {{clients10.movimientos}}
                        </td>
                        <td style="text-align:center;">
                            <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/movimientos_icon.png" class="imgTamano" on-click="movimientos10" />
                        </td>
                        <td style="text-align:center;">
                            <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/nuevo_mov_icon.png" class="imgTamano" on-click="ver_caja" />
                        </td>
                        <div id="newMov" hidden$="{{clients10.nuevoMovimiento}}" >
                            <div>
                                <center>
                                    <h4 style="text-align: center;">Nuevo Movimiento</h4>
                                    <h6>Introduzca importe y concepto</h6>
                                    <div on-click="ver_caja"
                                        style="position: absolute; right:0; top:0; cursor:pointer; background-color:rgb(239, 255, 255);" >
                                        <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/Cerrar.png" width="15px" height="15px"/>
                                    </div>
                                    <input type="text" id="importe" placeholder="Importe" value="{{clients10.importe::input}}">
                                    <ulises-combo id="cmbo" on-seleccion="select" 
                                            productos="{{clients10.productos}}" 
                                            nombre="ProductosNW" campo="ProductName">
                                    </ulises-combo>
                                </center>
                                <center>
                                    <div style="padding: 10px;">
                                        <button class="Cancelar" on-click="ver_caja">
                                        Cerrar
                                        </button>
                                        <button class="Aceptar" on-click="newMovimiento10">Guardar</button>
                                    </div>  
                                </center>
                            </div> 
                        </div>
                    </tr>
                    <template is="dom-if" if="{{clients10.visible}}">
                        <table hidden$="{{noCargadosCuentas10}}" class="table-striped table-bordered table-hover" 
                            style="background-color:yellowgreen; ">                            
                            <thead> 
                                <th>Concepto</th>
                                <th>Importe</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Ver Mapa</th>
                            </thead>
                            <tbody>
                                <template is="dom-repeat" id="cuentas10" items="{{clients10.movi}}" as="accounts" index-as="account_no">                            
                                    <tr>    
                                        <td>
                                            {{accounts.concepto}}
                                        </td>
                                        <td>
                                            {{accounts.importe}}
                                        </td>
                                        <td>
                                            {{accounts.fechaMovimiento}}
                                        </td>
                                        <td>
                                            {{accounts.horaMovimiento}}
                                        </td>
                                        <td style="text-align:center;">
                                            <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/Maps_icon.png" class="imgTamano mx-auto" on-click="ver_mapa" />
                                        </td>
                                    </tr>                
                                </template>
                            </tbody>
                        </table>
                    </template>        
                    </template>
                </tbody>
            </div>
        </table>
    </div>
    </center>

    <div id=confirm hidden$="{{!ventanaConfirm}}" 
        style="position: fixed; right:50px; top:15px; width: 275px; border: 2px solid rgb(135, 133, 133);
        background-color: rgb(239, 255, 255) ;padding: 1em; z-index: 10;">
        <ventana-confirmacion id=vc1 on-consultar="_cerrar"></ventana-confirmacion>
    </div>

    <div style="background-color:rgb(239, 255, 255);
        position:fixed; height:420px; width: 385px; right:505px; top:230px; z-index: -5;">
    </div>
    <div id=map style="background-color: rgb(239, 255, 255); border: 2px solid rgb(135, 133, 133); 
        position: fixed; height:408px; width: 379px; right:506px; top:235px; z-index: -10;">
        <span><b>Geolocalización del movimiento</b></span>
        <div on-click="_cerrar_mapa"
          style="position: absolute; right:0; top:0; cursor:pointer;" >
          <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/Cerrar.png" width="15px" height="15px"/>
        </div>
   
        <google-map id=mapa zoom="13" api-key="AIzaSyCAVqaagtNqQUZOdngst95_MrxWVJoGMPQ" 
            latitude="37.779" longitude="-122.3892"
            style="position:relative; height:375px; top:5px; ">
            <google-map-marker  id=marker draggable="true"></google-map-marker>
        </google-map>
    </div>  

    </div>
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PgUsuario extends Polymer.Element {
      static get is() { return 'pg-usuario'; }
      static get properties() {
        return {
            clientes: {
                type: Array,
                notify: true
            },
            account: {
                type: Array,
                notify: true
            },
            movimientos: {
                type: Array,
                notify: true
            },
            productos: {
                type: Array,
                notify: true
            },
            noCargados: {
                type: Boolean,
                value: true
            },
            noCargadosCuentas: {
                type: Boolean,
                value: true
            },
            noCargadosCuentas10: {
                type: Boolean,
                value: true
            },
            idCli: {
                type: Number,
                value: ''
            },
            nomCli: {
                type: String,
                value: ''
            },
            apeCli: {
                type: String,
                value: ''
            },
            importe: {
                type: String,
                value: ''
            },
            datosjson: {
                type: String,
                value: ''
            },
            ventanaConfirm: {
                type: Boolean,
                value: false
            },
            ventanaMapa: {
                type: Boolean,
                value: false
            },
            accountsVisible: {
                type: Boolean,
                value: true
            },
            nuevoMovimiento: {
                type: Boolean,
                value: true
            },
            nif: {
                type: String,
                value: '',
                observer: 'reseteo'
            }
        };
      }

      _cerrar_mapa()
      {
        this.$.map.style.zIndex=-10;
      }

      ver_mapa(e)
      {
        this.$.mapa.latitude=e.model.accounts.latitud;
        this.$.mapa.longitude=e.model.accounts.longitud;
        this.$.marker.latitude=e.model.accounts.latitud;
        this.$.marker.longitude=e.model.accounts.longitud;
        this.$.map.style.zIndex=5;
      }

      ver_caja(e)
      {
        if (e.model.clients10.nuevoMovimiento == undefined)
        {
            e.model.set('clients10.nuevoMovimiento', true);
            e.model.set('clients10.productos',this.obtenerProductos());
        }
        else if (e.model.clients10.nuevoMovimiento)
        {
            e.model.set('clients10.importe','');
            e.model.set('clients10.productos',this.obtenerProductos());
            e.model.set('clients10.nuevoMovimiento', !e.model.clients10.nuevoMovimiento);
        }
        else
        {
            e.model.set('clients10.nuevoMovimiento', !e.model.clients10.nuevoMovimiento);
            e.model.set('clients10.productos',this.obtenerProductos());
        }
      }

      reseteo(nif, nif_old)
      {
        if(JSON.parse(sessionStorage.getItem("Cliente")) == undefined)
        {
            this.noCargadosCuentas10 = true;
        }
        else if (nif_old == '')
        {
            this.noCargadosCuentas10 = true;
        }
        else if (JSON.parse(sessionStorage.getItem("Cliente")).nif != nif_old)
        {
            this.noCargadosCuentas10 = true;
        }
        else
        {
            this.noCargadosCuentas10 = false;
        }
        return;
      }
      
      imagen()
      {
        this.dispatchEvent(new CustomEvent('detalle', {}));

      }

      confirmar()
      {
        this.$.vc1.mensaje = "¿Quiere cerrar la sesión?";
        this.ventanaConfirm = true;
      }

      _cerrar(e)
      {
        if (e.detail.accion=="aceptar")
        {
            this.ventanaConfirm = false;
            //Cerrar sesión;
            this.dispatchEvent(new CustomEvent('logout', {}));
        }
        else if (e.detail.accion=="cancelar" || e.detail.accion=="cerrar")
        {
            this.ventanaConfirm = false; 
        }
      }

      order(e) {
        e.model.set('clients.visible', !e.model.clients.visible);
      }

      mov(e) {
        e.model.set('clients2.saldo', e.model.clients2.saldo+1);
        e.model.set('clients2.visible', !e.model.clients2.visible);
      }
      
      movimientos10(e) {      
       if (e.model.clients10.visible)
       {
        e.model.set('clients10.visible', !e.model.clients10.visible);
       }
       else 
       {
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/movimientos10/" + e.model.clients10.idCuenta, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        e.model.set('clients10.movi', JSON.parse(request.responseText));
        e.model.set('clients10.visible', !e.model.clients10.visible);
       }
      }

    obtenerCuentas10() {
      var request = new XMLHttpRequest();
      this.nif=JSON.parse(sessionStorage.getItem("Cliente")).nif;
      this.nomCli=JSON.parse(sessionStorage.getItem("Cliente")).nombre;
      this.apeCli=JSON.parse(sessionStorage.getItem("Cliente")).apellido;
      request.open("GET", "http://localhost:3000/cuentas10/" + JSON.parse(sessionStorage.getItem("Cliente")).nif, false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.account = JSON.parse(request.responseText);
      
      this.noCargadosCuentas10 = false;
    }


    anadirCliente3() {
      var request = new XMLHttpRequest();
      request.open("POST", "http://localhost:3000/cuenta3", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      console.log(this.account);
      var user = JSON.parse(sessionStorage.getItem("Cliente"));      
      if (this.account.length == 0)
      {
        var nuevaCuenta = {"idCuenta":user.id * 100 + this.account.length, "descCuenta":this.datosjson, 
                        "saldo":0, "nombre":user.nombre,"apellido":user.apellido, "dni":user.nif,
                        "movimientos":0, "nuevoMovimiento":true};
      }
      else
      {
        var nuevaCuenta = {"idCuenta":user.id * 100 + this.account.length, "descCuenta":this.datosjson, 
                        "saldo":0, "nombre":user.nombre,"apellido":user.apellido, "dni":user.nif,
                        "movimientos":0, "nuevoMovimiento":true};
      }
      var body = JSON.stringify(nuevaCuenta);
      request.send(body); 
      this.respuesta = request.responseText;

      this.datosjson="";
      this.obtenerCuentas10();
      this.noCargadosCuentas10 = false;
    }

    newMovimiento10(e) {
      var request = new XMLHttpRequest();
      request.open("POST", "http://localhost:3000/mov3", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      var user = JSON.parse(sessionStorage.getItem("Cliente"));
      var fecha=new Date();
      let movimientosNew=parseInt(e.model.clients10.movimientos)+1;
      let lat = numeroAleatorio(403667, 404667)/10000;
      let long= numeroAleatorio(365325,375325)/-100000;
      var nuevoMov = {"idMovimiento":movimientosNew, "importe": e.model.clients10.importe.replace(",","."), 
                    "concepto": e.model.clients10.seleccionado,
                    "fechaMovimiento": fecha.getFullYear() + "-" + parseInt(fecha.getMonth())+1 + "-" + fecha.getDate(), 
                    "horaMovimiento": fecha.toLocaleTimeString(), "latitud":lat, "longitud": long, 
                    "idCuenta": e.model.clients10.idCuenta, "descCuenta": e.model.clients10.descCuenta};
      
      var body = JSON.stringify(nuevoMov);
      request.send(body);
      this.respuesta = request.responseText;
      let saldoNew=parseFloat(e.model.clients10.saldo) + parseFloat(e.model.clients10.importe.replace(",","."));

      this.updateCuenta(e.model.clients10._id, movimientosNew, saldoNew);
      e.model.set('clients10.saldo', saldoNew);
      e.model.set('clients10.movimientos', movimientosNew);
      this.ver_caja(e);
      e.model.set('clients10.visible', false);
      this.movimientos10(e);

      this.noCargadosCuentas10 = false;
    }

    updateCuenta(id, movimientos, saldo)
    {
       var request = new XMLHttpRequest();
       request.open("PUT", "http://localhost:3000/cuenta3", false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
      
       var datosActualizar = {"id":id, "movimientos":movimientos, "saldo":saldo};
       var body = JSON.stringify(datosActualizar);
       request.send(body); 
       this.respuesta = request.responseText;
    }

    obtenerProductos () {
        var request = new XMLHttpRequest();
        request.open("GET", "http://services.odata.org/V4/Northwind/Northwind.svc/Products", false);  // el false es para indicar que va a ser asincrona
        request.setRequestHeader("Accept", "application/json");
        request.send();
        return JSON.parse(request.responseText).value;
    }

    select(e)
    {
        e.model.set('clients10.seleccionado',e.detail.seleccion);
    }

}
    window.customElements.define(PgUsuario.is, PgUsuario);
  </script>
</dom-module>