<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="ulises-combo">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <select id="dropdown" on-blur="seleccion">
        <template is="dom-repeat" id="cmb" items="{{combo}}" as="products"> 
            <option value="{{products}}">{{products}}</option>
        </template>
    </select> 
      
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UlisesCombo extends Polymer.Element {
      static get is() { return 'ulises-combo'; }
      static get properties() {
        return {
          productos: {
            type: String,
            value: ''
          },
          combo: {
            type: Array,
            computed: 'carga(productos, campo)',
            observer: 'seleccionado'
          },
          campo: {
            type: String,
            value: ''
          },
          nombre: {
            type: String,
            value: ''
          },
          seleccionada: {
            type: String,
            value: ''
          },
          selecte: {
            type: Boolean,
            observer: 'seleccionado2()'
          }          
        };
      }
      
        carga(products, campito)
        {
            var cmbo =[];
            if (products != undefined)
            {
                products.forEach(element => {
                    cmbo.push(element[campito]);
                });
            }
        return cmbo;
        }

        seleccion(e)
        {
            if(this.$.dropdown.selectedIndex<0)
                alert('No hay opción seleccionada');
            else
            {
                this.seleccionada=this.$.dropdown.options[this.$.dropdown.selectedIndex].value;
                this.dispatchEvent(new CustomEvent('seleccion', {detail:{seleccion:this.seleccionada}}));        
            }
        }
        seleccionado (combo, combo_old)
        {
            if (this.$.dropdown.selectedIndex==-1)
            {
                console.log("combo vacío");
            }
            else
            {
                this.$.dropdown.selectedIndex=0;
                this.seleccionada=this.$.dropdown.options[this.$.dropdown.selectedIndex].value;
                this.dispatchEvent(new CustomEvent('seleccion', {detail:{seleccion:this.seleccionada}}));
            }       
            return ;
        }        
    }

    window.customElements.define(UlisesCombo.is, UlisesCombo);
  </script>
</dom-module>