<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<script type="text/javascript" src="https://s3.eu-west-3.amazonaws.com/techu-sp/lib.js"></script>

<dom-module id="ulises-login">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- Importamos la CSS -->
    <link rel="stylesheet" href="https://s3.eu-west-3.amazonaws.com/techu-sp/style.css">

    <style>
      :host {
        display: block;
      }
      
      video#bgvid{
        position: absolute; 
        bottom: 0px; 
        right: 0px; 
        min-width: 100%; 
        min-height: 100%; 
        width: auto; 
        height: auto; 
        z-index: -1000; 
        overflow: hidden; 
      }

    </style>
    <iron-ajax 
      id="xhr"
      url="http://localhost:3000/login"
      handle-as="json"
      loading="{{cargando}}"
      method="POST"
      content-type="application/json"
      on-response="respuestaLogin"
      on-error="errorLogin">
    </iron-ajax>
    
    <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/BBVA_128x128.png" width="50px" height="50px"/>
    <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/TechU.png" width="100px" height="50px"/>

    <video id="bgvid" autoplay loop="loop" preload="auto" poster="https://s3.eu-west-3.amazonaws.com/techu-sp/Mipelicula.jpg">
      <source src="https://s3.eu-west-3.amazonaws.com/techu-sp/Mi+peli%CC%81cula.mp4" type="video/mp4" />
    </video>

    <center>
      <div class="container" style="padding: 70px 0;">
        <div class="row">
            <div class="col-xl-5 ml-5 mr  Login_dcha"> 
               <label id="label" class="Label_login" for="idUsuario">DNI/NIF: </label>
            </div>
            <div  class="col-xl-5 ml mr-5 Login_izqda">
              <input class="Input" type="text" id="idUsuario" placeholder="Escriba DNI/NIF" value="{{usuario::input}}">
            </div>
        </div>  
        <div class="row">  
          <div class="col-xl-5 ml-5 mr  Login_dcha"> 
              <label id="label" class="Label_login" for="idPass">Password: </label>
          </div>
          <div class="col-xl-5 ml mr-5 Login_izqda"> 
            <input class="Input" type="password" id="idPass" placeholder="Escriba la Password" value="{{password::input}}">
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12" style="padding: 5px;">  
            <button class="Generico" on-click = "hacerLogin" type="button" name="button">Login</button>
          </div>
        </div> 
        <div class="row">
            <div class="col-xl-12" style="padding: 5px;">
            <span class="Alta" on-click="nuevaAlta">Darse de alta</span>
          </div>
        </div>
        <div id="alertBox" hidden$="{{error}}" >
          <div>
            <h4 style="text-align: center;">Error</h4>
                <div on-click="_cerrar"
                    style="position: absolute; right:0; top:0; cursor:pointer; background-color:rgb(239, 255, 255);" >
                    <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/Cerrar.png" width="15px" height="15px"/>
                </div>
                <p style="text-align: center;">LOGIN INCORRECTO</p>
                <center>
                  <button class="Cancelar" on-click="_cerrar" 
                          >
                    Cerrar
                  </button>
                </center>
              </div> 
        </div>
        <!-- <p><h3>[[mensaje]]</h3></p> -->

          <!-- <table>
            <tr>
              <td><label for="idUsuario">DNI/NIF: </label></td>
              <td><input type="text" id="idUsuario" placeholder="Escriba DNI/NIF" value="{{usuario::input}}"></td>
            </tr>
            <tr>
              <td><label for="idPass">Password: </label></td>
              <td><input type="password" id="idPass" placeholder="Escriba la Password" value="{{password::input}}"></td>
            </tr>
          </table>
            <button on-click = "hacerLogin" type="button" name="button">Login</button>
            <h5 on-click="nuevaAlta">Darse de alta</h5>
          
          <p><h3>[[mensaje]]</h3></p> -->
        
      </div>
    </center>    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UlisesLogin extends Polymer.Element {
      static get is() { return 'ulises-login'; }
      static get properties() {
        return {
          usuario: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          },
          resLogin: {
            type: String,
            value: ''
          },
          cargando: {
            type: Boolean,
          },
          mensaje: {
            type: String,
            value: ''
          },
          error: {
            type: Boolean,
            value: true
          }
        };
      }
      
      nuevaAlta()
      {
        this.dispatchEvent(new CustomEvent('alta', {detail:{nombre:"resultado", modelo:"Ulises"}}));
      }
      
      hacerLogin()
      {
        var objBody = {
          login: this.usuario,
          password: this.password.hashCode()
        };
        this.$.xhr.body = objBody;
        this.$.xhr.generateRequest();
      }

      respuestaLogin(e, request) {
        if(request.succeeded && request.response.mensaje=="Login correcto") {
          this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.status;
          var cliente = JSON.stringify(e.detail.response.salida);
          sessionStorage.setItem("Cliente", cliente);
          sessionStorage.setItem("token", e.detail.response.tk);
          var clienteGuardado = JSON.parse(sessionStorage.getItem("Cliente"));
          //lanzo el evento de logado para cambio a PG y objeto con info y token
          this.dispatchEvent(new CustomEvent('logado', {detail:{nombre:"resultado", modelo:"Ulises"}}));
        } else {
          this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status;
          this.error=false;
        }
      }

      _cerrar(){
        this.error=true;
      }

      errorLogin(e, error) {
        this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
      }
      
    }

    window.customElements.define(UlisesLogin.is, UlisesLogin);
  </script>
</dom-module>
