<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="ventana-confirmacion">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div>
      <h3 style="text-align: center;">Ventana de Confirmación</h3>
      <div on-click="_cerrar"
          style="position: absolute; right:0; top:0; cursor:pointer;" >
          <img src="https://s3.eu-west-3.amazonaws.com/techu-sp/Cerrar.png" width="15px" height="15px"/>
      </div>
      <p style="text-align: center;">
        [[mensaje]]
      </p>
      <center>
        <button on-click="_cancelar"
                style="border-radius: 12px; background-color: white; color: #008CBA; 
                      border: 2px solid #008CBA; margin: auto; cursor:pointer;">
          [[cancelar]]
        </button>
        <button on-click="_aceptar" 
                style="border-radius: 12px; background-color: #008CBA; color: white; 
                      border: 2px solid #008CBA; margin: auto; cursor:pointer;">
          [[aceptar]]
        </button>
      </center>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VentanaConfirmacion extends Polymer.Element {
      static get is() { return 'ventana-confirmacion'; }
      static get properties() {
        return {
          mensaje: {
            type: String,
            value: '¿Aceptas o Rechazas?'
          },
          aceptar: {
            type: String,
            value: 'Aceptar'
          },
          cancelar: {
            type: String,
            value: 'Cancelar'
          }
        };
      }
      _aceptar()
      {
        this.dispatchEvent(new CustomEvent('consultar', {detail:{accion:"aceptar"}}));
      }
      _cancelar()
      {
        this.dispatchEvent(new CustomEvent('consultar', {detail:{accion:"cancelar"}}));
      }
      _cerrar()
      {
        this.dispatchEvent(new CustomEvent('consultar', {detail:{accion:"cerrar"}}));
      }
    }

    window.customElements.define(VentanaConfirmacion.is, VentanaConfirmacion);
  </script>
</dom-module>