<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">


<link rel="import" href="pages/ulises-login.html">
<link rel="import" href="pages/pg-usuario.html">
<link rel="import" href="pages/detalle-usuario.html">


<dom-module id="navegacion-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <iron-pages selected="[[data.page]]" attr-for-selected="page">  
        <ulises-login id=login on-alta="alta" on-logado="_logado" page=""></ulises-login>
        <pg-usuario id=pg on-detalle="detalle" on-logout="logout" page="dashboard"></pg-usuario>
        <detalle-usuario id=detalle alta=[[logado]] on-2pg="_logado" page="detalle"></detalle-usuario>
        <detalle-usuario id=alta alta=[[logado]] on-2login="cambiar" page="altaUsuario"></detalle-usuario>
    </iron-pages>

  </template>
  <script>
    class NavegacionApp extends Polymer.Element {
      static get is() { return 'navegacion-app'; }
      static get properties() {
        return {
          route: {
            type: Object,
          },
          logado: {
              type: Boolean,
              value: false
          }
        };
      }
      
      cambiar() {
        this.$.login.usuario = '';
        this.$.login.password = '';
        this.$.login.mensaje = '';
        this.set('route.path', '/');
      }
      alta(e) {
        this.$.alta.editable=true;
        this.set('route.path', '/altaUsuario');
      }
      _logado(e) {
          this.logado = true;
          this.$.pg.nif=JSON.parse(sessionStorage.getItem("Cliente")).nif;
          this.$.pg.obtenerCuentas10();
          this.set('route.path','/dashboard');
      }
      detalle(e) {
        console.log("Vamos al detalle del usuario");
        this.$.detalle.cliente=JSON.parse(sessionStorage.getItem("Cliente"));
        this.set('route.path', '/detalle');
      }
      logout(e) {
        this.logado = false;
        sessionStorage.removeItem("Cliente");
        sessionStorage.removeItem("token");
        this.$.pg._cerrar_mapa();
        this.$.login.usuario = '';
        this.$.login.password = '';
        this.$.login.mensaje = '';
        this.set('route.path', '/');
      }
    }

    window.customElements.define(NavegacionApp.is, NavegacionApp);
  </script>
</dom-module>
